<!DOCTYPE html>
<html>
<head>
  <title>Create New Row</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <h1>Create New Row</h1>
  <form action="/create" method="POST">
    <label for="column1">Column 1:</label>
    <input type="text" id="column1" name="column1" required><br><br>

    <label for="column2">Column 2:</label>
    <input type="text" id="column2" name="column2" required><br><br>

    <button type="submit">Create</button>
  </form>
  <script src="js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>